asgiref==3.2.6
bokeh==2.1.1
certifi==2019.11.28
chardet==3.0.4
dj-database-url==0.5.0
Django==3.0.4
django-heroku==0.3.1
django-model-utils==4.0.0
django-pandas==0.6.1
djangorestframework==3.11.0
gunicorn==20.0.4
idna==2.9
Jinja2==2.11.1
MarkupSafe==1.1.1
numpy==1.18.2
packaging==20.3
pandas==1.0.3
Pillow==9.0.0
psycopg2==2.8.5
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3.1
requests==2.23.0
six==1.14.0
sqlparse==0.3.1
tornado==6.0.4
typing-extensions==3.7.4.1
urllib3==1.25.8
whitenoise==5.0.1
