<!DOCTYPE html>
{% load static %}
{% load custom_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bento Boxes of Persistence</title>
    <link rel="stylesheet" href="{% static 'bento.css' %}">

    <script type="text/javascript">
        function hideShow(id) {
                  var x = document.getElementById(id);
                  if (x.style.display === "none") {
                    x.style.display = "inherit";
                  } else {
                    x.style.display = "none";
                  }
                  console.log(id)
                }
        function hideAll(elemClass) {
            var x = document.getElementsByClassName(elemClass);
            for (var i =0; i<x.length; i++){
                x[i].style.display = "none";
            }
        }

        function computeGraphHeight(element, height) {
            var x = document.getElementById(element);
                x.style.height = height
        }

        function computeGraphWidth(element, width) {
            var x = document.getElementById(element)
            x.style.width = width
        }
</script>
<script src="https://d3js.org/d3.v5.js"></script>
</head>
<body>
<div class="bentoHead">
    <h1>Bento Boxes</h1>
    <h2>of Persistence</h2>
</div>
<div class="flex-container">
{% for k, v in persistenceOutput.items %}
    <div class="bentoContainer">

     {% for val in v %}

        {% if forloop.last %}
            <div class="bentoTitleRow">
                <div class="bentoItem">
                    <div class="student">Student {{ k }}</div>
                </div>
                <div class="bentoItem">
                    <div class="compositeScore" >{{ val.cum_avg_perc_composite }}</div>
                </div>
            </div>
            <div class="bentoSubTitleRow">
                <div class="bentoItem">
                    <div class="persistence" id="per{{ k }}" >
                        {{ val.persistence }}
                    </div>
                </div>
                    <div class="bentoItem">
                        <div class="cumAvgPer" id="cumAvg{{ k }}">

                            {% for key in val.cum_avg_persistence.items %}

                                <div class="cumAvgGraph">
                                <div class="cumAvgLabel">{{ key.0 }}

                                </div>
                            <div class="cumAvgGraphBG">
                                <div class="cumAvgGraphBar" id="{{ k }}{{ key0 }}{{ key.1 }}">

                                    <script type="text/javascript">
                                        computeGraphWidth('{{ k }}{{ key0 }}{{ key.1 }}', '{{ key.1 }}%')
                                    </script>
                                    {{ key.1 }}</div>
                                </div>
                            </div>
                            {% endfor %}

                            <script type="text/javascript">

                            </script>
                        </div>
                    </div>
            </div>
            <div class="bentoInside" id="inside{{ k }}">
                <div class="bentoColumn">
                    <div class="bentoRow">
                        <div class="bentoItem">
                            <div class="bentoSubComp">
                                <div class="bentoSubNumber">{{ val.active_time }}</div>
                                <div class="bentoBarGraphBG">
                                    <div class="bentoBarGraph" id="{{ k }}{{ val.active_time }}" >
                                        <script type="text/javascript">
                                            computeGraphHeight('{{ k }}{{ val.active_time }}', '{{ val.percentileActiveTime}}%')
                                        </script>
                                    </div>

                                </div>

                            </div>
                            <label>Active Time</label>
                        </div>
                        <div class="bentoItem">
                            <div class="bentoSubComp">
                                <div class="bentoSubNumber">

                                    {{ val.cum_global_puzzle_attempts }}
                                </div>
                                <div class="bentoBarGraphBG">
                                    <div class="bentoBarGraph" id="{{ k }}{{ val.n_check_solution }}" style="height: {{ val.percentileAtt }}%">

                                    </div>
                                </div>
                            </div>
                            <label>Sub Att.</label>
                        </div>
                        <div class="bentoItem">
                            <div class="bentoSubComp">
                                <div class="bentoSubNumber">{{ val.n_events }}</div>
                                <div class="bentoBarGraphBG">
                                    <div class="bentoBarGraph" id="{{ k }}{{ val.n_events }}" style="height: {{ val.percentileEvents }}%">
                                    </div>

                                </div>
                            </div>
                            <label># Events</label>
                        </div>

                    </div>
                </div>
                <div class="bentoColumn">
                    <div class="bentoSmItem">
                        <label>Weighted Difficulty</label>
                        <div class="field">{{ val.cum_weighted_difficulty_perc_composite }}</div>
                    </div>
                    <div class="bentoSmItem">
                        <label>Breaks</label>
                        <div class="field">{{ val.n_breaks }}</div>
                    </div>
                    <div class="bentoSmItem">
                        <label>Rotate View</label>
                        <div class="field">{{ val.n_rotate_view }}</div>
                    </div>


                    <div class="bentoSmItem">
                            <label>Snapshots</label>
                            <div class="field">{{ val.n_snapshot }}</div>
                        </div>
                    <div class="bentoSmItem">
                        <label>Manip. Shape Events</label>
                        <div class="field">{{ val.n_manipulation_events }}</div>
                    </div>
                    <div class="bentoSmItem">
                        <label>Time btwn failure & exit</label>
                        <div class="field">{{ val.time_failed_submission_exit }}</div>
                    </div>


                </div>
            </div>

        {% endif %}

    {% endfor %}
    <div class="digIN"><button type="button" onclick="hideShow('inside{{ k }}')">Dig In</button> </div>
    </div>
{% endfor %}
</div>
</body>
<script type="text/javascript">
        document.onLoad = hideAll("bentoInside")

</script>
</html>